<h2>Tervetuloa osuuspuutarhan jäseneksi</h2>

<p>Tarjouksemme ovat seuraavat</p>

<ul>
<li>Asd</li>
<li>Qwe</li>
<li>Zxc</li>
</ul>

<h3>Voit lähteä mukaan alla olevasta linkistä</h3>
<%= link "Liity jäseneksi", to: Routes.order_index_path(@conn, :new) %>