.organic-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.organic-text h2 {
  text-align: left;
  padding-left: 20px;
}

.organic-text p {
  max-width: 100% !important;
}

@media screen and (max-width: 600px) {
  .organic-text {
    width: 100%;
  }
}
