.privacy-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.privacy-text h2 {
  text-align: left;
  padding-left: 20px;
}

.privacy-text p {
  max-width: 100% !important;
}

@media screen and (max-width: 600px) {
  .privacy-text {
    width: 100%;
  }
}

.disclaimer {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  align-items: center;
  margin-bottom: 20px;
}

.disclaimer p {
  margin-bottom: 0px !important;
}
