.registeration-button {
  margin-bottom: 4rem;
}

.offer-listing {
  max-width: 65rem;
}

.location-listing {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: disc;
  line-height: 2rem;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.offer-general-info {
  font-size: larger;
  max-width: 70rem;
}
